In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df = pd.read_csv('wat_good_routers.csv')

In [30]:
df.shape

(245667, 33)

In [32]:
df.max()

time                 3152969
router                    15
outport                    4
inport                     4
packet_address       0xec3c0
packet_type                3
flit_id                    4
flit_type                  3
vnet                       4
vc                        19
src_ni                    31
src_router                15
dst_ni                    31
dst_router                15
enq_time             3152948
packet_address_id       1914
target                  good
router0                    1
router1                    1
router2                    1
router3                    1
router4                    1
router5                    1
router6                    1
router7                    1
router8                    1
router9                    1
router10                   1
router11                   1
router12                   1
router13                   1
router14                   1
router15                   1
dtype: object

In [33]:
df.dtypes

time                  int64
router                int64
outport               int64
inport                int64
packet_address       object
packet_type           int64
flit_id               int64
flit_type             int64
vnet                  int64
vc                    int64
src_ni                int64
src_router            int64
dst_ni                int64
dst_router            int64
enq_time              int64
packet_address_id     int64
target               object
router0               int64
router1               int64
router2               int64
router3               int64
router4               int64
router5               int64
router6               int64
router7               int64
router8               int64
router9               int64
router10              int64
router11              int64
router12              int64
router13              int64
router14              int64
router15              int64
dtype: object

In [34]:
interval = 99
r0count = 0
r1count = 0
r2count = 0
r3count = 0
r4count = 0
r5count = 0
r6count = 0
r7count = 0
r8count = 0
r9count = 0
r10count = 0
r11count = 0
r12count = 0
r13count = 0
r14count = 0
r15count = 0
r0arr = []
r1arr = []
r2arr = []
r3arr = []
r4arr = []
r5arr = []
r6arr = []
r7arr = []
r8arr = []
r9arr = []
r10arr = []
r11arr = []
r12arr = []
r13arr = []
r14arr = []
r15arr = []
for index, row in df.iterrows():
    if row['time']<=interval:
        if row['router0']==1:
            r0count+=1
        elif row['router1']==1:
            r1count+=1
        elif row['router2']==1:
            r2count+=1
        elif row['router3']==1:
            r3count+=1
        elif row['router4']==1:
            r4count+=1
        elif row['router5']==1:
            r5count+=1
        elif row['router6']==1:
            r6count+=1
        elif row['router7']==1:
            r7count+=1
        elif row['router8']==1:
            r8count+=1
        elif row['router9']==1:
            r9count+=1
        elif row['router10']==1:
            r10count+=1
        elif row['router11']==1:
            r11count+=1
        elif row['router12']==1:
            r12count+=1
        elif row['router13']==1:
            r13count+=1
        elif row['router14']==1:
            r14count+=1
        elif row['router15']==1:
            r15count+=1
    else:
        r0arr.append(r0count)
        r1arr.append(r1count)
        r2arr.append(r2count)
        r3arr.append(r3count)
        r4arr.append(r4count)
        r5arr.append(r5count)
        r6arr.append(r6count)
        r7arr.append(r7count)
        r8arr.append(r8count)
        r9arr.append(r9count)
        r10arr.append(r10count)
        r11arr.append(r11count)
        r12arr.append(r12count)
        r13arr.append(r13count)
        r14arr.append(r14count)
        r15arr.append(r15count)
        if row['router0']==1:
            r0count = 1
        else:
            r0count = 0
        if row['router1']==1:
            r1count = 1
        else:
            r1count = 0
        if row['router2']==1:
            r2count = 1
        else:
            r2count = 0
        if row['router3']==1:
            r3count = 1
        else:
            r3count = 0
        if row['router4']==1:
            r4count = 1
        else:
            r4count = 0
        if row['router5']==1:
            r5count = 1
        else:
            r5count = 0
        if row['router6']==1:
            r6count = 1
        else:
            r6count = 0
        if row['router7']==1:
            r7count = 1
        else:
            r7count = 0
        if row['router8']==1:
            r8count = 1
        else:
            r8count = 0
        if row['router9']==1:
            r9count = 1
        else:
            r9count = 0
        if row['router10']==1:
            r10count = 1
        else:
            r10count = 0
        if row['router11']==1:
            r11count = 1
        else:
            r11count = 0
        if row['router12']==1:
            r12count = 1
        else:
            r12count = 0
        if row['router13']==1:
            r13count = 1
        else:
            r13count = 0
        if row['router14']==1:
            r14count = 1
        else:
            r14count = 0
        if row['router15']==1:
            r15count = 1
        else:
            r15count = 0
        interval+=100

In [35]:
df = pd.DataFrame(range(100,3152969,100), columns=["time_intervals"])

In [36]:
df

       time_intervals
0                 100
1                 200
2                 300
3                 400
4                 500
...               ...
31524         3152500
31525         3152600
31526         3152700
31527         3152800
31528         3152900

[31529 rows x 1 columns]

In [37]:
len(r0arr)

31529

In [38]:
df = df.assign(r0=r0arr)
df = df.assign(r1=r1arr)
df = df.assign(r2=r2arr)
df = df.assign(r3=r3arr)
df = df.assign(r4=r4arr)
df = df.assign(r5=r5arr)
df = df.assign(r6=r6arr)
df = df.assign(r7=r7arr)
df = df.assign(r8=r8arr)
df = df.assign(r9=r9arr)
df = df.assign(r10=r10arr)
df = df.assign(r11=r11arr)
df = df.assign(r12=r12arr)
df = df.assign(r13=r13arr)
df = df.assign(r14=r14arr)
df = df.assign(r15=r15arr)

In [42]:
df['target']=1
df

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,target
0,100,6,1,1,1,5,5,5,6,0,0,0,0,0,0,0,0,1
1,200,6,0,0,0,6,0,0,0,6,0,0,0,0,0,0,0,1
2,300,6,1,1,0,5,5,6,0,0,0,0,0,0,0,0,0,1
3,400,6,1,1,1,5,5,5,6,0,0,0,0,0,0,0,0,1
4,500,7,2,0,0,5,6,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31524,3152500,6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
31525,3152600,7,7,7,0,0,0,0,0,0,0,0,0,0,0,0,0,1
31526,3152700,11,11,11,0,0,0,6,0,0,0,0,0,0,0,0,0,1
31527,3152800,6,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,1
31528,3152900,6,6,6,6,0,0,0,6,0,0,0,6,0,0,0,0,1

In [43]:
df.to_csv('wat-good-time.csv',index=False)