In [37]:
import pandas as pd

In [38]:
train_df = pd.read_csv("wat-all.csv")

In [39]:
del train_df['packet_address']

In [40]:
train_df.head()

,time,router,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,packet_address_id,target
0,7,0,2,0,0,0,3,2,8,0,0,23,7,3,892,1
1,7,1,1,0,0,0,3,2,8,1,1,29,13,3,2261,0
2,7,0,2,0,0,0,3,2,8,0,0,23,7,3,359,0
3,11,5,1,3,0,0,3,2,8,1,1,29,13,3,2261,0
4,11,1,2,4,0,0,3,2,8,0,0,23,7,3,359,0

In [41]:
train_X = train_df.drop(columns=['target'])

In [42]:
train_X

,time,router,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,packet_address_id
0,7,0,2,0,0,0,3,2,8,0,0,23,7,3,892
1,7,1,1,0,0,0,3,2,8,1,1,29,13,3,2261
2,7,0,2,0,0,0,3,2,8,0,0,23,7,3,359
3,11,5,1,3,0,0,3,2,8,1,1,29,13,3,2261
4,11,1,2,4,0,0,3,2,8,0,0,23,7,3,359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504035,3152966,8,3,2,1,2,1,4,16,27,11,0,0,3152948,1205
504036,3152967,8,3,2,1,3,1,4,16,27,11,0,0,3152948,1205
504037,3152967,9,4,2,1,4,2,4,16,27,11,0,0,3152948,1205
504038,3152968,4,3,1,1,0,0,4,16,27,11,0,0,3152948,1205
504039,3152969,4,3,1,1,1,1,4,16,27,11,0,0,3152948,1205

In [43]:
from keras.utils import to_categorical

In [44]:
train_Y = to_categorical(train_df.target)

In [45]:
train_Y

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [46]:
from keras.models import Sequential
from keras.layers import Dense

In [47]:
model = Sequential()

In [48]:
n_cols = train_X.shape[1]

In [49]:
model.add(Dense(250, activation='relu', input_shape=(n_cols,)))
model.add(Dense(250, activation='relu'))
model.add(Dense(250, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [50]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [51]:
from keras.callbacks import EarlyStopping

In [52]:
early_stopping_monitor = EarlyStopping(patience=5)

In [53]:
model.fit(train_X, train_Y, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 403232 samples, validate on 100808 samples
Epoch 1/30
403232/403232 [==============================] - 64s 160us/step - loss: 184.9786 - accuracy: 0.5142 - val_loss: 0.6947 - val_accuracy: 0.4947
Epoch 2/30
403232/403232 [==============================] - 64s 158us/step - loss: 0.7538 - accuracy: 0.5168 - val_loss: 0.6942 - val_accuracy: 0.4947
Epoch 3/30
403232/403232 [==============================] - 64s 159us/step - loss: 0.6926 - accuracy: 0.5169 - val_loss: 0.6940 - val_accuracy: 0.4947
Epoch 4/30
403232/403232 [==============================] - 71s 176us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6939 - val_accuracy: 0.4947
Epoch 5/30
403232/403232 [==============================] - 70s 175us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6946 - val_accuracy: 0.4947
Epoch 6/30
403232/403232 [==============================] - 63s 155us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6938 - val_accuracy: 0.4947
Epoch 7/30
403232/403232 [==============================] - 64s 158us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6940 - val_accuracy: 0.4947
Epoch 8/30
403232/403232 [==============================] - 67s 165us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6941 - val_accuracy: 0.4947
Epoch 9/30
403232/403232 [==============================] - 117s 291us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6941 - val_accuracy: 0.4947
Epoch 10/30
403232/403232 [==============================] - 62s 155us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6937 - val_accuracy: 0.4947
Epoch 11/30
403232/403232 [==============================] - 62s 153us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6942 - val_accuracy: 0.4947
Epoch 12/30
403232/403232 [==============================] - 63s 156us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6940 - val_accuracy: 0.4947
Epoch 13/30
403232/403232 [==============================] - 282s 699us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6942 - val_accuracy: 0.4947
Epoch 14/30
403232/403232 [==============================] - 40s 99us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6939 - val_accuracy: 0.4947
Epoch 15/30
403232/403232 [==============================] - 43s 106us/step - loss: 0.6926 - accuracy: 0.5171 - val_loss: 0.6942 - val_accuracy: 0.4947