In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
df = pd.read_csv('wat_mal.csv')

In [72]:
df.shape

(258373, 17)

In [73]:
df.max()

time                 3151705
router                    15
outport                    4
inport                     4
packet_address       0xffec0
packet_type                3
flit_id                    4
flit_type                  3
vnet                       4
vc                        19
src_ni                    31
src_router                15
dst_ni                    31
dst_router                15
enq_time             3151676
packet_address_id       2348
target                   mal
dtype: object

In [74]:
df.dtypes

time                  int64
router                int64
outport               int64
inport                int64
packet_address       object
packet_type           int64
flit_id               int64
flit_type             int64
vnet                  int64
vc                    int64
src_ni                int64
src_router            int64
dst_ni                int64
dst_router            int64
enq_time              int64
packet_address_id     int64
target               object
dtype: object

In [75]:
interval = 9999

#routers

r0count = 0
r1count = 0
r2count = 0
r3count = 0
r4count = 0
r5count = 0
r6count = 0
r7count = 0
r8count = 0
r9count = 0
r10count = 0
r11count = 0
r12count = 0
r13count = 0
r14count = 0
r15count = 0

r0arr = []
r1arr = []
r2arr = []
r3arr = []
r4arr = []
r5arr = []
r6arr = []
r7arr = []
r8arr = []
r9arr = []
r10arr = []
r11arr = []
r12arr = []
r13arr = []
r14arr = []
r15arr = []

In [76]:
#packet types

getxcount = 0
datacount = 0
putxcount = 0
ackcount = 0

getarr = []
dataarr = []
putarr =[]
ackarr = []

In [77]:
#inport

ilocal = 0
inorth = 0
ieast = 0
isouth = 0
iwest = 0

ilocalarr = []
inortharr =[]
ieastarr = []
isoutharr = []
iwestarr = []

In [78]:
#outport

olocal = 0
onorth = 0
oeast = 0
osouth = 0
owest = 0

olocalarr = []
onortharr =[]
oeastarr = []
osoutharr = []
owestarr = []

In [79]:
for index, row in df.iterrows():
    if row['time']<=interval:
        if row['router']==0:
            r0count+=1
        elif row['router']==1:
            r1count+=1
        elif row['router']==2:
            r2count+=1
        elif row['router']==3:
            r3count+=1
        elif row['router']==4:
            r4count+=1
        elif row['router']==5:
            r5count+=1
        elif row['router']==6:
            r6count+=1
        elif row['router']==7:
            r7count+=1
        elif row['router']==8:
            r8count+=1
        elif row['router']==9:
            r9count+=1
        elif row['router']==10:
            r10count+=1
        elif row['router']==11:
            r11count+=1
        elif row['router']==12:
            r12count+=1
        elif row['router']==13:
            r13count+=1
        elif row['router']==14:
            r14count+=1
        elif row['router']==15:
            r15count+=1
        if row['packet_type']==0:
            getxcount+=1
        elif row['packet_type']==1:
            datacount+=1
        elif row['packet_type']==2:
            putxcount+=1
        elif row['packet_type']==3:
            ackcount+=1
        if row['inport']==0:
            ilocal+=1
        elif row['inport']==1:
            inorth+=1
        elif row['inport']==2:
            ieast+=1
        elif row['inport']==3:
            isouth+=1
        elif row['inport']==4:
            iwest+=1
        if row['outport']==0:
            olocal+=1
        elif row['outport']==1:
            onorth+=1
        elif row['outport']==2:
            oeast+=1
        elif row['outport']==3:
            osouth+=1
        elif row['outport']==4:
            owest+=1
    else:
        r0arr.append(r0count)
        r1arr.append(r1count)
        r2arr.append(r2count)
        r3arr.append(r3count)
        r4arr.append(r4count)
        r5arr.append(r5count)
        r6arr.append(r6count)
        r7arr.append(r7count)
        r8arr.append(r8count)
        r9arr.append(r9count)
        r10arr.append(r10count)
        r11arr.append(r11count)
        r12arr.append(r12count)
        r13arr.append(r13count)
        r14arr.append(r14count)
        r15arr.append(r15count)
        
        getarr.append(getxcount)
        dataarr.append(datacount)
        putarr.append(putxcount)
        ackarr.append(ackcount)
        
        ilocalarr.append(ilocal)
        inortharr.append(inorth)
        ieastarr.append(ieast)
        isoutharr.append(isouth)
        iwestarr.append(iwest)
        
        olocalarr.append(olocal)
        onortharr.append(onorth)
        oeastarr.append(oeast)
        osoutharr.append(osouth)
        owestarr.append(owest)
        
        if row['router']==0:
            r0count = 1
        else:
            r0count = 0
        if row['router']==1:
            r1count = 1
        else:
            r1count = 0
        if row['router']==2:
            r2count = 1
        else:
            r2count = 0
        if row['router']==3:
            r3count = 1
        else:
            r3count = 0
        if row['router']==4:
            r4count = 1
        else:
            r4count = 0
        if row['router']==5:
            r5count = 1
        else:
            r5count = 0
        if row['router']==6:
            r6count = 1
        else:
            r6count = 0
        if row['router']==7:
            r7count = 1
        else:
            r7count = 0
        if row['router']==8:
            r8count = 1
        else:
            r8count = 0
        if row['router']==9:
            r9count = 1
        else:
            r9count = 0
        if row['router']==10:
            r10count = 1
        else:
            r10count = 0
        if row['router']==11:
            r11count = 1
        else:
            r11count = 0
        if row['router']==12:
            r12count = 1
        else:
            r12count = 0
        if row['router']==13:
            r13count = 1
        else:
            r13count = 0
        if row['router']==14:
            r14count = 1
        else:
            r14count = 0
        if row['router']==15:
            r15count = 1
        else:
            r15count = 0
        if row['packet_type']==0:
            getxcount = 1
        else:
            getxcount = 0
        if row['packet_type']==1:
            datacount = 1
        else:
            datacount = 0
        if row['packet_type']==2:
            putxcount = 1
        else:
            putxcount = 0
        if row['packet_type']==3:
            ackcount = 1
        else:
            ackcount = 0
        if row['inport']==0:
            ilocal = 1
        else:
            ilocal = 0
        if row['inport']==1:
            inorth = 1
        else:
            inorth = 0
        if row['inport']==2:
            ieast = 1
        else:
            ieast = 0
        if row['inport']==3:
            isouth = 1
        else:
            isouth = 0
        if row['inport']==4:
            iwest = 1
        else:
            iwest = 0
        if row['outport']==0:
            olocal = 1
        else:
            olocal = 0
        if row['outport']==1:
            onorth = 1
        else:
            onorth = 0
        if row['outport']==2:
            oeast = 1
        else:
            oeast = 0
        if row['outport']==3:
            osouth = 1
        else:
            osouth = 0
        if row['outport']==4:
            owest = 1
        else:
            owest = 0
        interval+=10000

In [80]:
df = pd.DataFrame(range(10000,3151705,10000), columns=["time_intervals"])

In [81]:
df

     time_intervals
0             10000
1             20000
2             30000
3             40000
4             50000
..              ...
310         3110000
311         3120000
312         3130000
313         3140000
314         3150000

[315 rows x 1 columns]

In [82]:
len(r0arr)

315

In [83]:
df = df.assign(r0=r0arr)
df = df.assign(r1=r1arr)
df = df.assign(r2=r2arr)
df = df.assign(r3=r3arr)
df = df.assign(r4=r4arr)
df = df.assign(r5=r5arr)
df = df.assign(r6=r6arr)
df = df.assign(r7=r7arr)
df = df.assign(r8=r8arr)
df = df.assign(r9=r9arr)
df = df.assign(r10=r10arr)
df = df.assign(r11=r11arr)
df = df.assign(r12=r12arr)
df = df.assign(r13=r13arr)
df = df.assign(r14=r14arr)
df = df.assign(r15=r15arr)

In [84]:
df = df.assign(pkt_get=getarr)
df = df.assign(pkt_data=dataarr)
df = df.assign(pkt_put=putarr)
df = df.assign(pkt_ack=ackarr)

df = df.assign(inport_local=ilocalarr)
df = df.assign(inport_north=inortharr)
df = df.assign(inport_south=ieastarr)
df = df.assign(inport_east=isoutharr)
df = df.assign(inport_west=iwestarr)

df = df.assign(outport_local=olocalarr)
df = df.assign(outport_north=onortharr)
df = df.assign(outport_south=oeastarr)
df = df.assign(outport_east=osoutharr)
df = df.assign(outport_west=owestarr)

In [85]:
df['target']=0

In [86]:
df

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
0,10000,675,825,201,95,445,521,179,117,300,...,1479,1076,351,393,1246,351,393,1486,1077,0
1,20000,707,860,384,171,419,406,182,76,207,...,1072,1085,453,548,1215,453,548,1067,1084,0
2,30000,776,1015,467,235,375,437,205,169,232,...,1148,1033,723,778,1426,723,778,1146,1034,0
3,40000,782,1027,409,217,418,465,190,142,287,...,1207,1015,806,747,1430,806,747,1207,1019,0
4,50000,690,941,445,242,367,378,198,151,184,...,754,827,654,746,1298,655,748,754,822,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,3110000,389,192,138,78,185,6,36,42,185,...,292,317,282,306,389,282,306,292,312,0
311,3120000,405,210,192,114,197,6,42,54,186,...,320,384,324,384,405,324,384,323,384,0
312,3130000,627,288,198,120,337,102,102,96,240,...,538,486,534,486,627,534,486,535,486,0
313,3140000,486,282,228,120,192,66,102,84,109,...,300,459,312,474,486,312,474,301,459,0
314,3150000,762,348,258,180,390,144,102,90,227,...,522,585,510,570,762,510,570,521,585,0

In [87]:
df.to_csv('wat-mal-time-interval-10000.csv',index=False)

In [88]:
df = pd.read_csv('wat-mal-time-interval-10000.csv')

In [89]:
df1 = df.describe()
df1

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
count,3.150000e+02,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,...,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.0
mean,1.580000e+06,198.568254,115.104762,71.546032,38.996825,85.812698,37.257143,29.638095,25.053968,57.552381,...,146.879365,164.688889,137.444444,158.377778,211.123810,137.444444,158.377778,146.879365,164.688889,0.0
std,9.107689e+05,223.618927,160.523443,91.337480,50.059614,111.227688,71.355309,43.553348,36.670511,73.467396,...,214.883922,206.130992,178.702719,185.375330,267.028316,178.695002,185.380776,214.909649,206.151045,0.0
min,1.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,7.950000e+05,60.000000,30.000000,18.000000,6.000000,18.500000,6.000000,6.000000,6.000000,12.000000,...,24.000000,42.000000,24.000000,42.000000,60.000000,24.000000,42.000000,24.000000,42.000000,0.0
50%,1.580000e+06,84.000000,54.000000,30.000000,18.000000,36.000000,12.000000,12.000000,12.000000,24.000000,...,60.000000,73.000000,60.000000,72.000000,84.000000,60.000000,72.000000,60.000000,72.000000,0.0
75%,2.365000e+06,210.500000,120.000000,69.000000,36.000000,84.000000,30.000000,30.000000,24.000000,60.000000,...,138.000000,159.000000,141.000000,159.000000,210.500000,141.500000,159.000000,138.000000,159.000000,0.0
max,3.150000e+06,851.000000,1082.000000,532.000000,258.000000,511.000000,521.000000,221.000000,224.000000,300.000000,...,1479.000000,1085.000000,1024.000000,929.000000,1507.000000,1023.000000,928.000000,1486.000000,1084.000000,0.0

In [90]:
df1.iloc[[1]]

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
mean,1580000.0,198.568254,115.104762,71.546032,38.996825,85.812698,37.257143,29.638095,25.053968,57.552381,...,146.879365,164.688889,137.444444,158.377778,211.12381,137.444444,158.377778,146.879365,164.688889,0.0

In [91]:
df1.to_csv('wat-mal-time-interval-des-10000.csv',index=False)