In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
df = pd.read_csv('wat_good.csv')

In [85]:
df.shape

(245667, 17)

In [86]:
df.max()

time                 3152969
router                    15
outport                    4
inport                     4
packet_address       0xec3c0
packet_type                3
flit_id                    4
flit_type                  3
vnet                       4
vc                        19
src_ni                    31
src_router                15
dst_ni                    31
dst_router                15
enq_time             3152948
packet_address_id       1914
target                  good
dtype: object

In [87]:
df.dtypes

time                  int64
router                int64
outport               int64
inport                int64
packet_address       object
packet_type           int64
flit_id               int64
flit_type             int64
vnet                  int64
vc                    int64
src_ni                int64
src_router            int64
dst_ni                int64
dst_router            int64
enq_time              int64
packet_address_id     int64
target               object
dtype: object

In [88]:
interval = 9999

#routers

r0count = 0
r1count = 0
r2count = 0
r3count = 0
r4count = 0
r5count = 0
r6count = 0
r7count = 0
r8count = 0
r9count = 0
r10count = 0
r11count = 0
r12count = 0
r13count = 0
r14count = 0
r15count = 0

r0arr = []
r1arr = []
r2arr = []
r3arr = []
r4arr = []
r5arr = []
r6arr = []
r7arr = []
r8arr = []
r9arr = []
r10arr = []
r11arr = []
r12arr = []
r13arr = []
r14arr = []
r15arr = []

In [89]:
#packet types

getxcount = 0
datacount = 0
putxcount = 0
ackcount = 0

getarr = []
dataarr = []
putarr =[]
ackarr = []

In [90]:
#inport

ilocal = 0
inorth = 0
ieast = 0
isouth = 0
iwest = 0

ilocalarr = []
inortharr =[]
ieastarr = []
isoutharr = []
iwestarr = []

In [91]:
#outport

olocal = 0
onorth = 0
oeast = 0
osouth = 0
owest = 0

olocalarr = []
onortharr =[]
oeastarr = []
osoutharr = []
owestarr = []

In [92]:
for index, row in df.iterrows():
    if row['time']<=interval:
        if row['router']==0:
            r0count+=1
        elif row['router']==1:
            r1count+=1
        elif row['router']==2:
            r2count+=1
        elif row['router']==3:
            r3count+=1
        elif row['router']==4:
            r4count+=1
        elif row['router']==5:
            r5count+=1
        elif row['router']==6:
            r6count+=1
        elif row['router']==7:
            r7count+=1
        elif row['router']==8:
            r8count+=1
        elif row['router']==9:
            r9count+=1
        elif row['router']==10:
            r10count+=1
        elif row['router']==11:
            r11count+=1
        elif row['router']==12:
            r12count+=1
        elif row['router']==13:
            r13count+=1
        elif row['router']==14:
            r14count+=1
        elif row['router']==15:
            r15count+=1
        if row['packet_type']==0:
            getxcount+=1
        elif row['packet_type']==1:
            datacount+=1
        elif row['packet_type']==2:
            putxcount+=1
        elif row['packet_type']==3:
            ackcount+=1
        if row['inport']==0:
            ilocal+=1
        elif row['inport']==1:
            inorth+=1
        elif row['inport']==2:
            ieast+=1
        elif row['inport']==3:
            isouth+=1
        elif row['inport']==4:
            iwest+=1
        if row['outport']==0:
            olocal+=1
        elif row['outport']==1:
            onorth+=1
        elif row['outport']==2:
            oeast+=1
        elif row['outport']==3:
            osouth+=1
        elif row['outport']==4:
            owest+=1
    else:
        r0arr.append(r0count)
        r1arr.append(r1count)
        r2arr.append(r2count)
        r3arr.append(r3count)
        r4arr.append(r4count)
        r5arr.append(r5count)
        r6arr.append(r6count)
        r7arr.append(r7count)
        r8arr.append(r8count)
        r9arr.append(r9count)
        r10arr.append(r10count)
        r11arr.append(r11count)
        r12arr.append(r12count)
        r13arr.append(r13count)
        r14arr.append(r14count)
        r15arr.append(r15count)
        
        getarr.append(getxcount)
        dataarr.append(datacount)
        putarr.append(putxcount)
        ackarr.append(ackcount)
        
        ilocalarr.append(ilocal)
        inortharr.append(inorth)
        ieastarr.append(ieast)
        isoutharr.append(isouth)
        iwestarr.append(iwest)
        
        olocalarr.append(olocal)
        onortharr.append(onorth)
        oeastarr.append(oeast)
        osoutharr.append(osouth)
        owestarr.append(owest)
        
        if row['router']==0:
            r0count = 1
        else:
            r0count = 0
        if row['router']==1:
            r1count = 1
        else:
            r1count = 0
        if row['router']==2:
            r2count = 1
        else:
            r2count = 0
        if row['router']==3:
            r3count = 1
        else:
            r3count = 0
        if row['router']==4:
            r4count = 1
        else:
            r4count = 0
        if row['router']==5:
            r5count = 1
        else:
            r5count = 0
        if row['router']==6:
            r6count = 1
        else:
            r6count = 0
        if row['router']==7:
            r7count = 1
        else:
            r7count = 0
        if row['router']==8:
            r8count = 1
        else:
            r8count = 0
        if row['router']==9:
            r9count = 1
        else:
            r9count = 0
        if row['router']==10:
            r10count = 1
        else:
            r10count = 0
        if row['router']==11:
            r11count = 1
        else:
            r11count = 0
        if row['router']==12:
            r12count = 1
        else:
            r12count = 0
        if row['router']==13:
            r13count = 1
        else:
            r13count = 0
        if row['router']==14:
            r14count = 1
        else:
            r14count = 0
        if row['router']==15:
            r15count = 1
        else:
            r15count = 0
        if row['packet_type']==0:
            getxcount = 1
        else:
            getxcount = 0
        if row['packet_type']==1:
            datacount = 1
        else:
            datacount = 0
        if row['packet_type']==2:
            putxcount = 1
        else:
            putxcount = 0
        if row['packet_type']==3:
            ackcount = 1
        else:
            ackcount = 0
        if row['inport']==0:
            ilocal = 1
        else:
            ilocal = 0
        if row['inport']==1:
            inorth = 1
        else:
            inorth = 0
        if row['inport']==2:
            ieast = 1
        else:
            ieast = 0
        if row['inport']==3:
            isouth = 1
        else:
            isouth = 0
        if row['inport']==4:
            iwest = 1
        else:
            iwest = 0
        if row['outport']==0:
            olocal = 1
        else:
            olocal = 0
        if row['outport']==1:
            onorth = 1
        else:
            onorth = 0
        if row['outport']==2:
            oeast = 1
        else:
            oeast = 0
        if row['outport']==3:
            osouth = 1
        else:
            osouth = 0
        if row['outport']==4:
            owest = 1
        else:
            owest = 0
        interval+=10000

In [93]:
df = pd.DataFrame(range(10000,3152969,10000), columns=["time_intervals"])

In [94]:
df

     time_intervals
0             10000
1             20000
2             30000
3             40000
4             50000
..              ...
310         3110000
311         3120000
312         3130000
313         3140000
314         3150000

[315 rows x 1 columns]

In [95]:
len(r0arr)

315

In [96]:
df = df.assign(r0=r0arr)
df = df.assign(r1=r1arr)
df = df.assign(r2=r2arr)
df = df.assign(r3=r3arr)
df = df.assign(r4=r4arr)
df = df.assign(r5=r5arr)
df = df.assign(r6=r6arr)
df = df.assign(r7=r7arr)
df = df.assign(r8=r8arr)
df = df.assign(r9=r9arr)
df = df.assign(r10=r10arr)
df = df.assign(r11=r11arr)
df = df.assign(r12=r12arr)
df = df.assign(r13=r13arr)
df = df.assign(r14=r14arr)
df = df.assign(r15=r15arr)

In [97]:
df = df.assign(pkt_get=getarr)
df = df.assign(pkt_data=dataarr)
df = df.assign(pkt_put=putarr)
df = df.assign(pkt_ack=ackarr)

df = df.assign(inport_local=ilocalarr)
df = df.assign(inport_north=inortharr)
df = df.assign(inport_south=ieastarr)
df = df.assign(inport_east=isoutharr)
df = df.assign(inport_west=iwestarr)

df = df.assign(outport_local=olocalarr)
df = df.assign(outport_north=onortharr)
df = df.assign(outport_south=oeastarr)
df = df.assign(outport_east=osoutharr)
df = df.assign(outport_west=owestarr)

In [98]:
df['target']=1

In [99]:
df

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
0,10000,613,194,105,48,385,110,105,70,264,...,695,711,179,200,613,179,200,699,712,1
1,20000,629,266,202,89,337,122,129,50,175,...,544,700,232,327,629,232,327,540,699,1
2,30000,672,266,172,86,316,108,80,65,200,...,553,586,293,362,672,293,362,553,586,1
3,40000,697,290,196,109,341,115,72,84,236,...,614,639,385,414,697,385,414,614,639,1
4,50000,558,243,152,79,249,102,91,67,165,...,397,436,350,378,557,350,379,397,436,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,3110000,432,186,180,102,234,6,42,78,234,...,408,396,408,396,432,408,396,408,396,1
311,3120000,378,204,198,96,175,6,42,60,163,...,307,369,318,384,378,318,384,308,369,1
312,3130000,559,229,168,102,329,90,96,72,239,...,509,417,498,403,558,498,404,508,417,1
313,3140000,503,269,198,114,210,72,90,96,126,...,324,450,324,449,504,324,448,324,450,1
314,3150000,747,369,288,198,366,134,114,90,204,...,492,618,496,621,746,497,621,492,618,1

In [100]:
df.to_csv('wat-good-time-interval-10000.csv',index=False)

In [101]:
df = pd.read_csv('wat-good-time-interval-10000.csv')

In [102]:
df1 = df.describe()
df1

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
count,3.150000e+02,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,...,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.0
mean,1.580000e+06,196.238095,100.504762,68.019048,37.219048,84.152381,30.063492,28.012698,24.044444,57.314286,...,137.142857,158.133333,132.279365,153.266667,196.234921,132.282540,153.266667,137.142857,158.133333,1.0
std,9.107689e+05,215.934122,103.933785,77.626451,44.811633,106.028459,41.048625,37.737104,33.740268,71.152028,...,170.562637,177.610452,161.617692,168.058657,215.956859,161.607311,168.028808,170.563851,177.608999,0.0
min,1.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.950000e+05,60.000000,30.000000,15.000000,6.000000,18.000000,6.000000,6.000000,6.000000,12.000000,...,24.000000,42.000000,24.500000,42.000000,60.000000,25.500000,42.000000,24.000000,42.000000,1.0
50%,1.580000e+06,84.000000,54.000000,36.000000,18.000000,36.000000,12.000000,12.000000,12.000000,24.000000,...,60.000000,78.000000,60.000000,78.000000,84.000000,60.000000,78.000000,60.000000,78.000000,1.0
75%,2.365000e+06,204.500000,123.000000,78.000000,42.000000,87.000000,30.000000,30.000000,24.000000,60.000000,...,144.000000,176.000000,144.000000,180.000000,204.500000,144.000000,180.000000,144.000000,174.500000,1.0
max,3.150000e+06,767.000000,390.000000,384.000000,216.000000,411.000000,174.000000,161.000000,163.000000,264.000000,...,695.000000,711.000000,604.000000,621.000000,768.000000,603.000000,621.000000,699.000000,712.000000,1.0

In [103]:
df1.iloc[[1]]

,time_intervals,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,inport_north,inport_south,inport_east,inport_west,outport_local,outport_north,outport_south,outport_east,outport_west,target
mean,1580000.0,196.238095,100.504762,68.019048,37.219048,84.152381,30.063492,28.012698,24.044444,57.314286,...,137.142857,158.133333,132.279365,153.266667,196.234921,132.28254,153.266667,137.142857,158.133333,1.0

In [104]:
df1.to_csv('wat-good-time-interval-des-10000.csv',index=False)