In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wat-good.csv')
df = df.loc[df['router'] == 1]
df = df.drop(columns=['router'])
df.to_csv('wat-r1-good.csv',index=False)

In [3]:
df = pd.read_csv('wat-r1-good.csv')
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target
0,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,1
1,83,4,2,3,0,0,4,16,18,2,0,0,74,0,2,1,0.50,1
2,84,4,2,3,1,1,4,16,18,2,0,0,74,0,2,1,0.50,1
3,85,4,2,3,2,1,4,16,18,2,0,0,74,0,2,1,0.50,1
4,86,4,2,3,3,1,4,16,18,2,0,0,74,0,2,1,0.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,2,4,4,1,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50108,3251383,2,4,4,2,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50109,3251390,2,4,4,3,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50110,3251397,2,4,4,4,2,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50111,3251398,2,4,0,0,3,2,9,0,0,27,11,3251362,10027,5,1,0.20,1

In [4]:
timearr = []
interval = 99
count = 0
for index, row in df.iterrows():
    if row["time"]<=interval:
        count+=1
    else:
        timearr.append([interval+1,count])
        count=1
        interval+=100
timearr.append([interval+1,count])

In [5]:
countarr = []
maxarr = []
for i in range(len(timearr)):
    for cnt in range(timearr[i][1],0,-1):
        countarr.append(cnt)
        maxarr.append(timearr[i][1])
print(len(countarr))

50112

In [6]:
df = df.assign(pkt_count=countarr)
df = df.assign(pkt_max=maxarr)
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target,pkt_count,pkt_max
0,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,1,6,6
1,83,4,2,3,0,0,4,16,18,2,0,0,74,0,2,1,0.50,1,5,6
2,84,4,2,3,1,1,4,16,18,2,0,0,74,0,2,1,0.50,1,4,6
3,85,4,2,3,2,1,4,16,18,2,0,0,74,0,2,1,0.50,1,3,6
4,86,4,2,3,3,1,4,16,18,2,0,0,74,0,2,1,0.50,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,2,4,4,1,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,5,6
50108,3251383,2,4,4,2,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,4,6
50109,3251390,2,4,4,3,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,3,6
50110,3251397,2,4,4,4,2,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,2,6
50111,3251398,2,4,0,0,3,2,9,0,0,27,11,3251362,10027,5,1,0.20,1,1,6

In [7]:
df["packet_types"] = df["packet_type"]
df=pd.get_dummies(df, prefix=['outport', 'inport', 'packet_type'], columns=['outport', 'inport','packet_type'])

In [8]:
df

,time,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,...,inport_0,inport_2,inport_4,packet_type_0,packet_type_1,packet_type_2,packet_type_3,packet_type_4,packet_type_5,packet_type_6
0,11,0,3,2,8,0,0,23,7,3,...,0,0,1,1,0,0,0,0,0,0
1,83,0,0,4,16,18,2,0,0,74,...,0,1,0,0,0,0,1,0,0,0
2,84,1,1,4,16,18,2,0,0,74,...,0,1,0,0,0,0,1,0,0,0
3,85,2,1,4,16,18,2,0,0,74,...,0,1,0,0,0,0,1,0,0,0
4,86,3,1,4,16,18,2,0,0,74,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,1,1,2,8,0,0,27,11,3251361,...,0,0,1,0,0,0,0,1,0,0
50108,3251383,2,1,2,8,0,0,27,11,3251361,...,0,0,1,0,0,0,0,1,0,0
50109,3251390,3,1,2,8,0,0,27,11,3251361,...,0,0,1,0,0,0,0,1,0,0
50110,3251397,4,2,2,8,0,0,27,11,3251361,...,0,0,1,0,0,0,0,1,0,0
50111,3251398,0,3,2,9,0,0,27,11,3251362,...,0,0,1,1,0,0,0,0,0,0

In [9]:
df.drop(['outport_0','inport_0','packet_type_0','target','enq_time'],axis=1,inplace=True)
df['target'] = 1
df

,time,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,...,outport_4,inport_2,inport_4,packet_type_1,packet_type_2,packet_type_3,packet_type_4,packet_type_5,packet_type_6,target
0,11,0,3,2,8,0,0,23,7,0,...,0,0,1,0,0,0,0,0,0,1
1,83,0,0,4,16,18,2,0,0,0,...,1,1,0,0,0,1,0,0,0,1
2,84,1,1,4,16,18,2,0,0,0,...,1,1,0,0,0,1,0,0,0,1
3,85,2,1,4,16,18,2,0,0,0,...,1,1,0,0,0,1,0,0,0,1
4,86,3,1,4,16,18,2,0,0,0,...,1,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,1,1,2,8,0,0,27,11,10026,...,0,0,1,0,0,0,1,0,0,1
50108,3251383,2,1,2,8,0,0,27,11,10026,...,0,0,1,0,0,0,1,0,0,1
50109,3251390,3,1,2,8,0,0,27,11,10026,...,0,0,1,0,0,0,1,0,0,1
50110,3251397,4,2,2,8,0,0,27,11,10026,...,0,0,1,0,0,0,1,0,0,1
50111,3251398,0,3,2,9,0,0,27,11,10027,...,0,0,1,0,0,0,0,0,0,1

In [10]:
df.to_csv('wat-r1-good.csv',index=False)