In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wat-mal.csv')
df = df.loc[df['router'] == 1]
df = df.drop(columns=['router'])
df.to_csv('wat-r1-mal.csv',index=False)

In [3]:
df = pd.read_csv('wat-r1-mal.csv')
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target
0,7,2,0,0,0,3,2,8,1,1,23,7,3,1,3,0,0.00,0
1,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,0
2,79,0,2,3,0,0,4,16,18,2,1,1,70,1,1,1,1.00,0
3,80,0,2,3,1,1,4,16,18,2,1,1,70,1,1,1,1.00,0
4,81,0,2,3,2,1,4,16,18,2,1,1,70,1,1,1,1.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,2022085,11082,5,0,0.00,0
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,2022086,11083,5,0,0.00,0

In [4]:
timearr = []
interval = 99
count = 0
for index, row in df.iterrows():
    if row["time"]<=interval:
        count+=1
    else:
        timearr.append([interval+1,count])
        count=1
        interval+=100
timearr.append([interval+1,count])

In [5]:
countarr = []
maxarr = []
for i in range(len(timearr)):
    for cnt in range(timearr[i][1],0,-1):
        countarr.append(cnt)
        maxarr.append(timearr[i][1])
print(len(countarr))

71841

In [6]:
df = df.assign(pkt_count=countarr)
df = df.assign(pkt_max=maxarr)
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target,pkt_count,pkt_max
0,7,2,0,0,0,3,2,8,1,1,23,7,3,1,3,0,0.00,0,7,7
1,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,0,6,7
2,79,0,2,3,0,0,4,16,18,2,1,1,70,1,1,1,1.00,0,5,7
3,80,0,2,3,1,1,4,16,18,2,1,1,70,1,1,1,1.00,0,4,7
4,81,0,2,3,2,1,4,16,18,2,1,1,70,1,1,1,1.00,0,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0,1,1
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0,1,1
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,2022085,11082,5,0,0.00,0,1,1
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,2022085,11082,5,0,0.00,0,1,1
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,2022086,11083,5,0,0.00,0,1,1

In [7]:
df["packet_types"] = df["packet_type"]
df=pd.get_dummies(df, prefix=['outport', 'inport', 'packet_type'], columns=['outport', 'inport','packet_type'])

In [8]:
df

,time,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,...,inport_1,inport_2,inport_4,packet_type_0,packet_type_1,packet_type_2,packet_type_3,packet_type_4,packet_type_5,packet_type_6
0,7,0,3,2,8,1,1,23,7,3,...,0,0,0,1,0,0,0,0,0,0
1,11,0,3,2,8,0,0,23,7,3,...,0,0,1,1,0,0,0,0,0,0
2,79,0,0,4,16,18,2,1,1,70,...,0,1,0,0,0,0,1,0,0,0
3,80,1,1,4,16,18,2,1,1,70,...,0,1,0,0,0,0,1,0,0,0
4,81,2,1,4,16,18,2,1,1,70,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,1,1,2,10,1,1,28,12,2022085,...,0,0,0,0,0,0,0,1,0,0
71837,2022103,2,1,2,10,1,1,28,12,2022085,...,0,0,0,0,0,0,0,1,0,0
71838,2022110,3,1,2,10,1,1,28,12,2022085,...,0,0,0,0,0,0,0,1,0,0
71839,2022117,4,2,2,10,1,1,28,12,2022085,...,0,0,0,0,0,0,0,1,0,0
71840,2022118,0,3,2,11,1,1,28,12,2022086,...,0,0,0,1,0,0,0,0,0,0

In [9]:
df.drop(['outport_0','inport_0','packet_type_0','target','enq_time'],axis=1,inplace=True)
df['target'] = 0
df

,time,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,...,inport_1,inport_2,inport_4,packet_type_1,packet_type_2,packet_type_3,packet_type_4,packet_type_5,packet_type_6,target
0,7,0,3,2,8,1,1,23,7,1,...,0,0,0,0,0,0,0,0,0,0
1,11,0,3,2,8,0,0,23,7,0,...,0,0,1,0,0,0,0,0,0,0
2,79,0,0,4,16,18,2,1,1,1,...,0,1,0,0,0,1,0,0,0,0
3,80,1,1,4,16,18,2,1,1,1,...,0,1,0,0,0,1,0,0,0,0
4,81,2,1,4,16,18,2,1,1,1,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,1,1,2,10,1,1,28,12,11082,...,0,0,0,0,0,0,1,0,0,0
71837,2022103,2,1,2,10,1,1,28,12,11082,...,0,0,0,0,0,0,1,0,0,0
71838,2022110,3,1,2,10,1,1,28,12,11082,...,0,0,0,0,0,0,1,0,0,0
71839,2022117,4,2,2,10,1,1,28,12,11082,...,0,0,0,0,0,0,1,0,0,0
71840,2022118,0,3,2,11,1,1,28,12,11083,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df.to_csv('wat-r1-mal.csv',index=False)