In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('wat-good.csv')
df = df.loc[df['router'] == 1]
df = df.drop(columns=['router'])
df.to_csv('wat-r1-good.csv',index=False)

In [41]:
df = pd.read_csv('wat-r1-good.csv')
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target
0,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,1
1,83,4,2,3,0,0,4,16,18,2,0,0,74,0,2,1,0.50,1
2,84,4,2,3,1,1,4,16,18,2,0,0,74,0,2,1,0.50,1
3,85,4,2,3,2,1,4,16,18,2,0,0,74,0,2,1,0.50,1
4,86,4,2,3,3,1,4,16,18,2,0,0,74,0,2,1,0.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,2,4,4,1,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50108,3251383,2,4,4,2,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50109,3251390,2,4,4,3,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50110,3251397,2,4,4,4,2,2,8,0,0,27,11,3251361,10026,5,1,0.20,1
50111,3251398,2,4,0,0,3,2,9,0,0,27,11,3251362,10027,5,1,0.20,1

In [42]:
timearr = []
interval = 99
count = 0
for index, row in df.iterrows():
    if row["time"]<=interval:
        count+=1
    else:
        timearr.append([interval+1,count])
        count=1
        interval+=100
timearr.append([interval+1,count])

In [43]:
countarr = []
maxarr = []
for i in range(len(timearr)):
    for cnt in range(timearr[i][1],0,-1):
        countarr.append(cnt)
        maxarr.append(timearr[i][1])
print(len(countarr))

50112

In [44]:
df = df.assign(pkt_count=countarr)
df = df.assign(pkt_max=maxarr)
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,enq_time,pkt_chuck,hop_count,current_hop,hop_percentage,target,pkt_count,pkt_max
0,11,2,4,0,0,3,2,8,0,0,23,7,3,0,4,1,0.25,1,6,6
1,83,4,2,3,0,0,4,16,18,2,0,0,74,0,2,1,0.50,1,5,6
2,84,4,2,3,1,1,4,16,18,2,0,0,74,0,2,1,0.50,1,4,6
3,85,4,2,3,2,1,4,16,18,2,0,0,74,0,2,1,0.50,1,3,6
4,86,4,2,3,3,1,4,16,18,2,0,0,74,0,2,1,0.50,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,2,4,4,1,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,5,6
50108,3251383,2,4,4,2,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,4,6
50109,3251390,2,4,4,3,1,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,3,6
50110,3251397,2,4,4,4,2,2,8,0,0,27,11,3251361,10026,5,1,0.20,1,2,6
50111,3251398,2,4,0,0,3,2,9,0,0,27,11,3251362,10027,5,1,0.20,1,1,6

In [45]:
#df["packet_types"] = df["packet_type"]
#df=pd.get_dummies(df, prefix=['outport', 'inport', 'packet_type'], columns=['outport', 'inport','packet_type'])

In [46]:
df.dtypes

time                int64
outport             int64
inport              int64
packet_type         int64
flit_id             int64
flit_type           int64
vnet                int64
vc                  int64
src_ni              int64
src_router          int64
dst_ni              int64
dst_router          int64
enq_time            int64
pkt_chuck           int64
hop_count           int64
current_hop         int64
hop_percentage    float64
target              int64
pkt_count           int64
pkt_max             int64
dtype: object

In [47]:
#df['inport_1'] = 0
#df['inport_3'] = 0
#df['outport_3'] = 0

In [48]:
df.drop(['target','enq_time'],axis=1,inplace=True)
df['target'] = 1
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,pkt_count,pkt_max,target
0,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.25,6,6,1
1,83,4,2,3,0,0,4,16,18,2,0,0,0,2,1,0.50,5,6,1
2,84,4,2,3,1,1,4,16,18,2,0,0,0,2,1,0.50,4,6,1
3,85,4,2,3,2,1,4,16,18,2,0,0,0,2,1,0.50,3,6,1
4,86,4,2,3,3,1,4,16,18,2,0,0,0,2,1,0.50,2,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50107,3251376,2,4,4,1,1,2,8,0,0,27,11,10026,5,1,0.20,5,6,1
50108,3251383,2,4,4,2,1,2,8,0,0,27,11,10026,5,1,0.20,4,6,1
50109,3251390,2,4,4,3,1,2,8,0,0,27,11,10026,5,1,0.20,3,6,1
50110,3251397,2,4,4,4,2,2,8,0,0,27,11,10026,5,1,0.20,2,6,1
50111,3251398,2,4,0,0,3,2,9,0,0,27,11,10027,5,1,0.20,1,6,1

In [49]:
df.to_csv('wat-r1-good.csv',index=False)