In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('wat-mal.csv')
df = df.loc[df['router'] == 1]
df = df.drop(columns=['router'])
df.to_csv('wat-r1-mal.csv',index=False)

In [48]:
df = pd.read_csv('wat-r1-mal.csv')
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time
0,7,2,0,0,0,3,2,8,1,1,23,7,1,3,0,0.00,4
1,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.25,8
2,79,0,2,3,0,0,4,16,18,2,1,1,1,1,1,1.00,9
3,80,0,2,3,1,1,4,16,18,2,1,1,1,1,1,1.00,10
4,81,0,2,3,2,1,4,16,18,2,1,1,1,1,1,1.00,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,11082,5,0,0.00,11
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,11082,5,0,0.00,18
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,11082,5,0,0.00,25
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,11082,5,0,0.00,32
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,11083,5,0,0.00,32

In [49]:
timearr = []
interval = 99
count = 0
for index, row in df.iterrows():
    if row["time"]<=interval:
        count+=1
    else:
        timearr.append([interval+1,count])
        count=1
        interval+=100
timearr.append([interval+1,count])

In [50]:
countarr = []
maxarr = []
for i in range(len(timearr)):
    for cnt in range(timearr[i][1],0,-1):
        countarr.append(cnt)
        maxarr.append(timearr[i][1])
print(len(countarr))

71841

In [52]:
df = df.assign(pkt_count=countarr)
df = df.assign(pkt_max=maxarr)
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time,pkt_count,pkt_max
0,7,2,0,0,0,3,2,8,1,1,23,7,1,3,0,0.00,4,7,7
1,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.25,8,6,7
2,79,0,2,3,0,0,4,16,18,2,1,1,1,1,1,1.00,9,5,7
3,80,0,2,3,1,1,4,16,18,2,1,1,1,1,1,1.00,10,4,7
4,81,0,2,3,2,1,4,16,18,2,1,1,1,1,1,1.00,11,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,11082,5,0,0.00,11,1,1
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,11082,5,0,0.00,18,1,1
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,11082,5,0,0.00,25,1,1
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,11082,5,0,0.00,32,1,1
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,11083,5,0,0.00,32,1,1

In [53]:
#df["packet_types"] = df["packet_type"]
#df=pd.get_dummies(df, prefix=['outport', 'inport', 'packet_type'], columns=['outport', 'inport','packet_type'])

In [55]:
df.dtypes

time                int64
outport             int64
inport              int64
packet_type         int64
flit_id             int64
flit_type           int64
vnet                int64
vc                  int64
src_ni              int64
src_router          int64
dst_ni              int64
dst_router          int64
pkt_chuck           int64
hop_count           int64
current_hop         int64
hop_percentage    float64
waiting_time        int64
pkt_count           int64
pkt_max             int64
dtype: object

In [56]:
#df['inport_3'] = 0
#df['outport_3'] = 0

In [57]:
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time,pkt_count,pkt_max
0,7,2,0,0,0,3,2,8,1,1,23,7,1,3,0,0.00,4,7,7
1,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.25,8,6,7
2,79,0,2,3,0,0,4,16,18,2,1,1,1,1,1,1.00,9,5,7
3,80,0,2,3,1,1,4,16,18,2,1,1,1,1,1,1.00,10,4,7
4,81,0,2,3,2,1,4,16,18,2,1,1,1,1,1,1.00,11,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,11082,5,0,0.00,11,1,1
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,11082,5,0,0.00,18,1,1
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,11082,5,0,0.00,25,1,1
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,11082,5,0,0.00,32,1,1
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,11083,5,0,0.00,32,1,1

In [58]:
df['target'] = 0
df

,time,outport,inport,packet_type,flit_id,flit_type,vnet,vc,src_ni,src_router,dst_ni,dst_router,pkt_chuck,hop_count,current_hop,hop_percentage,waiting_time,pkt_count,pkt_max,target
0,7,2,0,0,0,3,2,8,1,1,23,7,1,3,0,0.00,4,7,7,0
1,11,2,4,0,0,3,2,8,0,0,23,7,0,4,1,0.25,8,6,7,0
2,79,0,2,3,0,0,4,16,18,2,1,1,1,1,1,1.00,9,5,7,0
3,80,0,2,3,1,1,4,16,18,2,1,1,1,1,1,1.00,10,4,7,0
4,81,0,2,3,2,1,4,16,18,2,1,1,1,1,1,1.00,11,3,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71836,2022096,4,0,4,1,1,2,10,1,1,28,12,11082,5,0,0.00,11,1,1,0
71837,2022103,4,0,4,2,1,2,10,1,1,28,12,11082,5,0,0.00,18,1,1,0
71838,2022110,4,0,4,3,1,2,10,1,1,28,12,11082,5,0,0.00,25,1,1,0
71839,2022117,4,0,4,4,2,2,10,1,1,28,12,11082,5,0,0.00,32,1,1,0
71840,2022118,4,0,0,0,3,2,11,1,1,28,12,11083,5,0,0.00,32,1,1,0

In [59]:
df.to_csv('wat-r1-mal.csv',index=False)